- name: Create prometheus user
  ansible.builtin.user:
    name: prometheus
    shell: /usr/sbin/nologin
    system: yes

- name: Download Prometheus archive
  ansible.builtin.get_url:
    url: "https://github.com/prometheus/prometheus/releases/download/v{{ services.monitoring.prometheus.version }}/prometheus-{{ services.monitoring.prometheus.version }}.linux-amd64.tar.gz"
    dest: /tmp/prometheus.tar.gz
    mode: '0644'

- name: Extract Prometheus
  ansible.builtin.unarchive:
    src: /tmp/prometheus.tar.gz
    dest: /opt/
    remote_src: true

- name: Symlink Prometheus
  ansible.builtin.file:
    src: "/opt/prometheus-{{ services.monitoring.prometheus.version }}.linux-amd64"
    dest: /opt/prometheus
    state: link

- name: Copy binaries
  ansible.builtin.copy:
    src: "/opt/prometheus/prometheus"
    dest: /usr/local/bin/prometheus
    mode: '0755'
  notify: Restart prometheus

- name: Create config directory
  ansible.builtin.file:
    path: /etc/prometheus
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'

- name: Deploy prometheus.yml
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'
  notify: Restart prometheus

- name: Create systemd unit
  ansible.builtin.copy:
    dest: /etc/systemd/system/prometheus.service
    mode: '0644'
    content: |
      [Unit]
      Description=Prometheus Server
      After=network.target

      [Service]
      User=prometheus
      ExecStart=/usr/local/bin/prometheus \
        --config.file=/etc/prometheus/prometheus.yml \
        --storage.tsdb.path=/var/lib/prometheus \
        --web.listen-address=:{{ services.monitoring.prometheus.port }}
      Restart=always

      [Install]
      WantedBy=multi-user.target
  notify: Restart prometheus

- name: Create data directory
  ansible.builtin.file:
    path: /var/lib/prometheus
    state: directory
    owner: prometheus
    group: prometheus
    mode: '0755'

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true

- name: Enable and start Prometheus
  ansible.builtin.service:
    name: prometheus
    enabled: true
    state: started
